<div class="row">
  <h2>Classes
  <a [routerLink]="['/classes/add/']" class="btn btn-primary">Add Class</a>
  </h2>
  <table class="table table-striped table-bordered">
    <tr>
      <td>Class Code</td>
      <td>Class Name</td>
      <td>Maximum Student Allowed</td>
      <td>Status</td>
      <td>Actions</td>
    </tr>
    <tr *ngFor="let class of classes">
      <td>{{class.code}}</td>
      <td>{{class.name}}</td>
      <td>{{class.max_students}}</td>
      <td>{{class.status}}</td>
      <td>
        <a [routerLink]="['/classes/view/',class.id]" class="badge badge-info mr-1">View</a>
        <a [routerLink]="['/classes/edit/',class.id]" class="badge badge-warning mr-1">Edit</a>
      </td>
    </tr>
  </table>
</div>
